<html ><head><meta charset="utf-8" />
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- <link rel="stylesheet" href="/static/css/style.css" type="text/css">  -->
    <style>
        .left{
            float: left;
            margin-left: 500px;
        }
        .right{
            float: right;
            margin-right: 500px;
        }
    </style>
    </head>
    <body style="background-color: rgb(221, 165, 101);">
    
        <div class="card">
            <div class="card-body">
              <center><h4 class="card-title" style="color: white;">Fraud Prediction Details</h4></center>
              
              <form class="forms-sample" action="{% url 'inputvalues' userid=user.id%}" method="POST" float="left">
                {% csrf_token %}
                <div class="left">
                <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v1" name="v1">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v2" name="v2">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v3" name="v3">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v4" name="v4">
                      </div>
                    </div>
                    <p></p>
                    <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v5" name="v5">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v6" name="v6">
                      </div>
                    </div>
                    <p></p>
                    <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v7" name="v7">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v8" name="v8">
                      </div>
                    </div>
                    <p></p>
                    <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v9" name="v9">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v10" name="v10">
                      </div>
                    </div>
                    <p></p>
                    <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v11" name="v11">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v12" name="v12">
                      </div>
                    </div>
                    <p></p>
                    <div class="row">
                    
                      <div class="col-sm-4">
                        <input type="text" class="form-control"  placeholder="v13" name="v13">
                      </div>
                     </div>
                    <p></p>
                    <div class="row">
    
                      <div class="col-sm-6">
                        <input type="text" class="form-control"  placeholder="v14" name="v14">
                      </div>
                    </div>
                    <p></p>
                  
  
                </div>
                
                <div class="right">
                <div class="row">
                  
                  <div class="col-sm-4">
                    <input type="text" class="form-control"  placeholder="v15" name="v15">
                  </div>
                 </div>
                <p></p>
                <div class="row">

                  <div class="col-sm-6">
                    <input type="text" class="form-control"  placeholder="v16" name="v16">
                  </div>
                </div>
                <p></p>
                <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v17" name="v17">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v18" name="v18">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v19" name="v19">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v20" name="v20">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v21" name="v21">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v22" name="v22">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v23" name="v23">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v24" name="v24">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v25" name="v25">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v26" name="v26">
                    </div>
                  </div>
                  <p></p>
                  <div class="row">
                  
                    <div class="col-sm-4">
                      <input type="text" class="form-control"  placeholder="v27" name="v27">
                    </div>
                   </div>
                  <p></p>
                  <div class="row">
  
                    <div class="col-sm-6">
                      <input type="text" class="form-control"  placeholder="v28" name="v28">
                    </div>
                  </div>
                  <p></p>
               
               
            </div>
                <button type="submit" class="btn btn-primary" style="margin-left: 40px;margin-top:600px;background-color:rgb(13, 170, 39);width: 80px;height: 50px;">Submit</button>
  
              </form>
            </div>
        </div>
                    
    </body>
    </html>